<!DOCTYPE html/>
<body>
<div class="container">
            <h1 id="title">Global Champion</h1>
            <form>
                Username:
                <input type="text" name="Username">
                <br>Password:
                <input type="password" name="pwd">
                <br>
                <input type="submit" name="submit">
            </form>
            <br>
            <button onClick='choose("rock")'class='btn'>Rock</button>
            <button onClick='choose("paper")'class='btn'>Paper</button>
            <button onClick='choose("scissors")'class='btn'>Scissors</button>
            <br>
            <button onClick='compare(user, computerChoice)'>Go!</button>
            <br>
            <!-- javascript in html tags need to be refactored(separation of concerns) also, logic in Play again bttn wipes data from the page and reloads the page. need to refactor. -->
            <br>
            <button onClick='window.location.reload(true)' class="btn" name="button">Play Again</button>
            <br>
            <p id="result"></p>
            <br>
            <br>
            <br>
            <button class="btn" name="button">Sign up</button>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>
