<div class="container">
            <h1 id="title">Global Champion</h1>
            <form>
                Username:
                <input type="text" name="Username">
                <br>Password:
                <input type="password" name="pwd">
                <br>
                <input type="submit" name="submit">
            </form>
            <br>
            <button onClick='choose("rock")'class='btn'>Rock</button>
            <button onClick='choose("paper")'class='btn'>Paper</button>
            <button onClick='choose("scissors")'class='btn'>Scissors</button>
            <br>
            <button onClick='compare(user, computerChoice)'>Go!</button>
            <br>
            <p id="result"></p>
            <br>
            <h3> (Battle scene plays out) </h3>
            <br>
            <br>
            <br>
            <br>
            <h1>You win!</h1>
            <button class="btn" name="button">Sign up</button>
            <button class="btn" name="button">Play Again</button>
        </div>
