<div class="weapons">
    <h1 class="headline">Choose your weapon!</h1>
    <%= render "shared/choices_#{params[:controller]}" %>
</div>
<!-- javascript in html tags need to be refactored(separation of concerns) also, logic in Play again bttn wipes data from the page and reloads the page. need to refactor. -->
<!-- <button onClick='window.location.reload(true)' class="btn" name="button">Play Again</button> -->
<div class="results-container">
    <p id="result"></p>
</div>
<!-- <button class="btn" name="button">Sign up</button> -->
<%= render "shared/arms" %>
<ul class="bottom-navigation">
  <li><%= link_to 'play multiplayer', new_round_path %></li>
</ul>
