// .playagain {
//   // background: #FFCC66;
//   text-align: center;
// }

// .navbar {
//   background: #000000;
// }

// #arms-container {
//   background-color: red;
//   height: 470px;
//   width: 900px;
//   margin: 0 auto;
// }

// #left-arm img {
//   // background-color:;
//   float: left;
//   height: 470px;
//   width: 450px;

// }

// #right-arm img{
//   // background-color: ;
//   float: right;
//   height: 470px;
//   width: 450px;
// }

// #choices img {
//   height: 200px;
//   width: 150px;
// }

// .login {
//   // background: #FFCC99;
//   // position: absolute;
//   // left: 50%;
//   // margin-left: -200px;
//   text-align: center;
// }

// #brand {
//   font-size: 30px;
// }

// .weapons {
//   // background: #FF9999;
//   text-align: center;
// }

// .results-container {
//   height: 40px;
//   width: 100px;
//   margin: 0 auto;
//   text-align: center;
//   background-color: green;
// }


.img-responsive {margin:0 auto;}

.choices {
  text-align: center;
  .btn {
    background-color: transparent;
  }
}

.devise-alert {
  margin-top: 70px;
}
.weapons {
  margin-top: -30px;
}
