#choices {
  @extend .col-md-12;
}
// #rock_img {
//   @include background-image: url(circle.png);
// }
#go_button {
  @extend .col-md-12;
}

.login {
  // background: #FFCC99;
  // position: absolute;
  // left: 50%;
  // margin-left: -200px;
  text-align: center;
}
.weapons{
  // background: #FF9999;
  text-align: center;
}
.playagain {
  // background: #FFCC66;
  text-align: center;
}

.navbar {
  background: #000000;
}

#arms-container {
  background-color: red;
  height: 470px;
  width: 900px;
  margin: 0 auto;
}

#left-arm img {
  // background-color:;
  float: left;
  height: 470px;
  width: 450px;

}

#right-arm img{
  // background-color: ;
  float: right;
  height: 470px;
  width: 450px;
}

#choices img {
  height: 200px;
  width: 150px;
}